<section class="strength">
  <div
    class="strength__field button is-light"
    [ngClass]="{
      'is-danger': strengthClass[0] === 'is-danger',
      'is-warning': strengthClass[0] === 'is-warning',
      'is-success': strengthClass[0] === 'is-success'
    }"
    >Easy
  </div>
  <div
    class="strength__field button is-light"
    [ngClass]="{
      'is-danger': strengthClass[1] === 'is-danger',
      'is-warning': strengthClass[1] === 'is-warning',
      'is-success': strengthClass[1] === 'is-success'
    }"
    >
    Medium
  </div>
  <div
    class="strength__field button is-light"
    [ngClass]="{
      'is-danger': strengthClass[2] === 'is-danger',
      'is-warning': strengthClass[2] === 'is-warning',
      'is-success': strengthClass[2] === 'is-success',
    }"
    >
    Strong
  </div>
</section>
